[Unit]
Description=deis-monitor-daemon

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/monitor-daemon` && docker history $IMAGE >/dev/null 2>&1 || flock -w 1200 /var/run/lock/monitor-daemon docker pull $IMAGE"
ExecStartPre=/bin/sh -c "docker inspect deis-monitor-daemon >/dev/null 2>&1 && docker rm -f deis-monitor-daemon >/dev/null 2>&1 || true"
ExecStart=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/monitor-daemon` && docker run --name deis-monitor-daemon --rm -e HOST=$COREOS_PRIVATE_IPV4 -p 9090:9090 $IMAGE" # fixme, port shouldnt be exposed for all to see. somehow.
ExecStop=-/usr/bin/docker stop deis-monitor-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
